#ima1 {width:40%;
}
#ima1 {margin-left: 25%;
}
#ima1 {border-color: black;
border-width: 20px;
border-style: double;
}
.parte01 {background-color: darkred;
}
.parte02 {background-color: brown;
}
h4 {text-align: center;
    font-size: 200%;
}
