body{ background-color: darkmagenta;
}
@media screen and (min-width: 800px){
    .part1 {color: darkorchid ;font-size: 150%;
    }
@media screen and (min-width: 600px){
    .part2{color: mediumorchid;font-size: 180%;
}
@media screen and (min-width: 400px){
    .part3{color: violet;font-size: 185%;
    }
 @media screen and (min-width: 200px){
    .part4{color: deeppink;font-size: 190%;
    }
.part1{ border-color: black;
  border-style: outset;
  border-width: 10px;
}
.part2{border-color: aliceblue;
border-style: outset;
border-width: 10px;
}
.part3{border-color: blanchedalmond;
border-style: outset;
border-width: 10px;
}
.part4{border-color: pink;
border-style: outset;
border-width: 10px;
}